<div class="component-box footer-container">
    <div class="footer">
        <span (click)="openHelpDialog()" class="help-button">
            Hilfe
        </span>
        <span>|</span>
        <a routerLink="/about" class="about-link">
            Über ContentGrün
        </a>
        <span>|</span>
        <span>Ein Projekt von
            <a routerLink="/about" class="creator-link">Sebastian Banach</a>
            im Rahmen von
            <a target="_blank" href="https://netzbegruenung.de/">Netzbegrünung e.V.</a>
        </span>
        <span>|</span>
        <a routerLink="/impressum" class="legal-link">
            Impressum
        </a>
        <span>|</span>
        <a routerLink="/datenschutz" class="legal-link">
            Datenschutz
        </a>
        <span>|</span>
        <a routerLink="/nutzungsbedingungen" class="legal-link">
            Nutzungsbedingungen
        </a>
    </div>
</div>
