<div class="component-box footer-container">
    <div class="footer">
        <span (click)="openHelpDialog()" class="help-button">
            Hilfe
        </span>
        <span class="trenner" aria-hidden="true">|</span>
        <a routerLink="/about" class="about-link">
            Über Gut gesagt
        </a>
        <span class="trenner" aria-hidden="true">|</span>
        <span>Ein Projekt von
            <a target="_blank" rel="noopener" href="https://netzbegruenung.de/" class="anbieter-link">Netzbegrünung e.V.</a>,
            entwickelt von
            <a routerLink="/about" class="creator-link">Sebastian Banach</a>
        </span>
        <span class="trenner" aria-hidden="true">|</span>
        <a routerLink="/impressum" class="legal-link">
            Impressum
        </a>
        <span class="trenner" aria-hidden="true">|</span>
        <a routerLink="/datenschutz" class="legal-link">
            Datenschutz
        </a>
        <span class="trenner" aria-hidden="true">|</span>
        <a routerLink="/nutzungsbedingungen" class="legal-link">
            Nutzungsbedingungen
        </a>
    </div>
    <div class="build-kennung">{{ buildKennung }}</div>
</div>
